:root {
  --accent-color: #34547a;
  --background-main: #eeeff1;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-main: #727272;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.64;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 calc(50vw - 555px);
}

.header {
  padding-top: 80px;
  background-color: var(--background-main);
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation__item {
  display: inline-block;
  margin-right: 46px;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  letter-spacing: 0.1em;
}

.navigation__link--active {
  color: var(--accent-color);
  font-weight: 500;
}

.section-herro {
  background-color: var(--background-main);
  padding-top: 142px;
  padding-bottom: 142px;
}

.section-herro__wrapper {
  max-width: 540px;
}

.section-herro__title {
  font-size: 48px;
  margin-bottom: 60px;
}

.section-herro__desc {
  color: var(--color-main);
  margin-bottom: 65px;
}

.section-herro__link {
  background-color: var(--accent-color);
  max-width: 225px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects__item {
  display: flex;
  align-items: center;
}

.projects__desc {
  margin-left: 20px;
}

.projects__number {
  font-size: 21px;
  line-height: 1;
  color: var(--color-white);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.projects__subtext {
  color: var(--color-white);
  margin: 0;
  padding: 0;
}

.section-aboat_me__logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  margin-top: 112px;
}

.section-aboat_me__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.64;
  max-width: 540px;
  height: 67px;
  color: #727272;
  margin-bottom: 100px;
  text-align: center;
  margin: 50px auto 100px auto;
}

.how_i_work {
  text-align: center;
  padding: 120px 0;
  background-color: var(--white);
}

.how_i_work__title {
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--color-black);
}

.how_i_work__desc {
  max-width: 540px;
  margin: 0 auto 60px auto;
  color: var(--color-main);
}

.how_i_work__video {
  position: relative;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.how_i_work__video--bg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.how_i_work__video--but {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: auto;
}

footer {
  background-color: var(--accent-color);
  height: 151px;
}

.footer_logo {
  color: var(--color-white);
}

.ostap {
  font-size: 21px;
  padding-top: 50px;
  font-weight: 500;
  line-height: 1;
}

.all_rights {
  font-size: 13px;
  line-height: 1.64;
  padding-bottom: 50px;
  font-weight: 400;
}